
<div class="login_box">
    
    <h2>Iniciar sesion</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        
        
        <div class="form-field">
            @let email= form.controls.email;

            <label for="email">Correo Electronico</label>
            <input type="email" id="email" formControlName="email" placeholder="Correo Electronico" [email]="true">
            
        </div>
        @if (email.invalid && email.touched) {
            <p class="error">El mail debe ser valido!</p>
        }
        
        
        <div class="form-field">
            @let pass = form.controls.contrasenia;

            <label for="contrasenia">Contrasenia</label>
            <input [type]="inputType" id="contrasenia" formControlName="contrasenia" placeholder="Contrasenia">
            <button type="button" (click)="changeVisual()" >Ver</button>
        </div>
        @if (pass.invalid && pass.touched) {
            <p class="error">Al menos 8 caracteres, 1 minuscula, mayuscula, numero y caracter especial
            </p>
        }
        
        <div class="form-actions">
            <button type="reset">Borrar</button>
            <button type="submit" [disabled]="!form.valid">Enviar</button>
        </div>
    </form>
    <div class="register_route">
        <a class="register_link" (click)="navigateToRegister()">No tenes cuenta?</a>
    </div>
</div>
<h1>Is logged in? {{ authService.isLoggedIn() }}</h1>
<!--  @let movies = this.movies // no se bien porque por algo de signals calculo-->
<!-- Despues se usa control para verificar que no este vacio y mostrar el formulario o la lista o lo que sea (como en el parcial: cargando tal cosa)-->