<div class="calendar-container">
  @if (turnoResponse()) {
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
  }
</div>

@if (mostrarFormulario()) {
  <div class="modal-fondo">
    <div class="modal-contenido">
      @if (turnoSeleccionado?.turnoDisponible) {
        <h3>Confirmar Reserva</h3>
      }@else {
        <h3>Datos del turno</h3>
      }
      <p><strong>Fecha:</strong> {{ turnoSeleccionado?.fecha }}</p>
      <p><strong>Hora:</strong> {{ turnoSeleccionado?.hora }}</p>
      @if (turnoSeleccionado?.turnoDisponible) {
        <form [formGroup]="form" (ngSubmit)="confirmarTurno()">
          <label for="tipoServicio">Tipo de servicio:</label>
          <select id="tipoServicio" formControlName="tipoServicio">
            <option value="" disabled selected>Selecciona una opción</option>
            @for (servicio of servicios; track $index) {
              <option [value]="servicio">{{servicio}}</option>
            }
          </select>
          @if (tipoServicio.dirty || tipoServicio.touched) {
            @if (tipoServicio.hasError('required')) {
              <p style="color: red;">El tipo de servicio es requerido!</p>
            }
          }
          
          <label for="notas">Notas (opcional):</label>
          <textarea id="notas" rows="3" formControlName="notas"></textarea>
          
          <div class="botones">
            @if (turnoSeleccionado?.turnoDisponible) {
              <button type="submit">Confirmar</button>
              <button type="reset">Limpiar</button>
            }
            @if (!usuarioEsAdmin && (turnoSeleccionado?.usuarioId === idPropio)) {
              <button (click)="cancelarReserva()">Cancelar Reserva</button>
            }
            @if (usuarioEsAdmin) {
              <button (click)="eliminarTurno()">Eliminar Turno</button>
            }
            <button class="cancelar" (click)="cancelar()">Cancelar</button>
          </div>
        </form>
      }
    </div>
  </div>
}
