@if (turnoSource() === undefined) {
    <p>Cargando...</p>
}@else {   
    @let turno = this.turno();
    <div class="ventana-turno">
        @if (turno && (esMiTurno() || isAdmin)) {
            <h1>Turno</h1>
            <h3>{{turno.fecha}}</h3>
            <h3>{{turno.hora}}</h3>

            @let usuario = turnoOwner();
            @if (turno.turnoDisponible) {
                <h3 style="color: lightgreen;">Turno disponible!</h3>
            }@else if (usuario){
                <h3>Reservado por</h3>
                <p>{{usuario.nombreUsuario}}</p>
                <p>{{usuario.email}}</p>
            }
            @if (isAdmin) {
                <button (click)="eliminarTurno(turno.idTurno!)">Eliminar turno</button>
            } 
            @if (esMiTurno()) {
                <button (click)="cancelarReserva()">Cancelar reserva</button>
            }
        }@else {
            <h1>Uh oh!</h1>
            @if (!esMiTurno() || !isAdmin) {
                <p>Este turno no lo reservaste!</p>
            }@else {
                <p>No se encontro el turno...</p>
            }
        } 
    </div>
}
    