<div class="register_box main-box">

  <h2>Registrarse</h2>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">

    <!-- EMAIL -->
    <div class="form-field">
      @let email = form.controls.email;

      <label for="email">Correo Electrónico</label>
      <input type="email" id="email" formControlName="email" placeholder="correo@ejemplo.com">

      @if (email.invalid && email.touched) {
        <p class="error">Ingrese un correo válido.</p>
      }
    </div>

    <!-- NOMBRE -->
    <div class="form-field">
      @let name = form.controls.nombreUsuario;

      <label for="nombreUsuario">Nombre</label>
      <input type="text" id="nombreUsuario" formControlName="nombreUsuario" placeholder="Juan Perez">

      @if (name.invalid && name.touched) {
        <p class="error">El nombre es obligatorio.</p>
      }
    </div>

    <!-- CONTRASEÑA -->
    <div class="form-field">
      @let pass = form.controls.contrasenia;

      <label for="contrasenia">Contraseña</label>

      <div class="password-wrapper">
        <input [type]="inputType" id="contrasenia" formControlName="contrasenia" placeholder="********" autocomplete="off">

        <button type="button" class="btn secondary" (click)="changeVisual()">
          @if(inputType == 'password') { Ver }
          @else { Ocultar }
        </button>
      </div>

      @if (pass.invalid && pass.touched) {
        <p class="error">
          La contraseña es obligatoria!
        </p>
      }
    </div>

    <!-- BOTONES -->
    <div class="button-group">
      <button type="reset" class="btn secondary">Borrar</button>
      <button type="submit" class="btn primary" [disabled]="waiting()">Registrarse</button>
    </div>

  </form>

</div>
