
<div class="login_box">
    
    <h2>Registrarse</h2>
    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
        
        
        <div class="form-field">
            @let email= form.controls.email;

            <label for="email">Correo Electronico</label>
            <input type="email" id="email" formControlName="email" placeholder="Correo Electronico" [email]="true">
            
            @if (email.invalid && email.touched) {
                <p class="error">El mail debe ser valido!</p>
            }
        </div>
        
        <div class="form-field">
            @let name= form.controls.nombreUsuario;

            <label for="nombreUsuario">Nombre</label>
            <input type="text" id="nombreUsuario" formControlName="nombreUsuario" placeholder="Usuario">

            @if (name.invalid && name.touched) {
                <p class="error">El nombre es obligatorio!</p>
            }
        </div>
        
        <div class="form-field">
            @let pass = form.controls.contrasenia;

            <label for="contrasenia">Contrasenia</label>
            <input type="password" id="contrasenia" formControlName="contrasenia" placeholder="Contrasenia">

            @if (pass.invalid && pass.touched) {
                <p class="error">Al menos 8 caracteres, 1 minuscula, mayuscula, numero y caracter especial
                </p>
            }
        </div>
        
        <div class="form-actions">
            <button type="reset">Borrar</button>
            <button type="submit" [disabled]="!form.valid">Enviar</button>
        </div>
    </form>
</div>