.error{
    color: red;
}

label {
    display: block;
    width: 100%;
    background-color: red;
}

input {
    width: 100%;
}

.login_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: -5px 5px rgb(214, 214, 191);
}

.login_box h2{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgb(110, 110, 75);
}

.form-field{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 4rem;
    margin-left: 5rem;
    width: 70%;
    display: block;
    justify-content: center;
}

.form-actions{
    padding: 1rem;
}

button{
    border: 2px solid rgb(194, 194, 167);
    font-size: 20px;
    padding: 6px 12px;
    border-radius: 8px;
    margin-right: 4rem;
    margin-left: 4rem;
    
}

button:hover{
    background-color: rgb(253, 253, 172);
    box-shadow: 0 2px 2px 0 rgb(175, 175, 162);
    transition-duration: 1s;
}