<div class="notificaciones-panel">
  <h2>Notificaciones</h2>

  <!-- Estado cargando -->
  @if (cargando()) {
    <div>
      <p>Cargando notificaciones...</p>
    </div>
  }@else {
    <!-- Estado cargado -->
    @if (notificaciones()!.length > 0) {
      <ul class="lista-notificaciones">
        @for (noti of notificaciones(); track $index) {
          <li (click)="seleccionarNotificacion(noti)"
            [class.seleccionada]="noti.idNotificacion === notificacionSeleccionada()?.idNotificacion">
            Notificación {{ $index + 1 }}
          </li>
        }
      </ul>
    }@else {
      <ng-template #noNotificaciones>
        <p>No hay notificaciones.</p>
      </ng-template>
    }

    @if (notificacionSeleccionada()) {

      <div class="detalle-notificacion">
        <div class="detalle-header" style="display: flex; justify-content: flex-end;">
          <button class="cerrar-btn" (click)="notificacionSeleccionada.set(null)"
            style="background: none; border: none; font-size: 1.5rem; color: red; cursor: pointer;">
            ×
          </button>
        </div>

        <h3>Detalle Notificación</h3>
        <p><strong>Mensaje:</strong> {{ notificacionSeleccionada()?.mensaje }}</p>
        <p><strong>Fecha turno:</strong> {{ notificacionSeleccionada()?.fecha }}</p>
        <p><strong>Hora turno:</strong> {{ notificacionSeleccionada()?.hora }}</p>
        <p><strong>Servicio:</strong> {{ notificacionSeleccionada()?.servicio }}</p>
        <p><strong>ID Turno:</strong> {{ notificacionSeleccionada()?.idTurno }}</p>
      </div>
  }
  }
</div>