@if (turnosSource() === undefined) {
<p>Cargando Turnos...</p>
}

@if (turnos()) {
    @if (turnos()?.turnos?.length! > 0) {

        <h1>Turnos</h1>
        <ul>
            @for (turno of turnos()?.turnos; track $index) {
                <li (click)="verDetalles(turno.idTurno!)">
                    Turno: {{turno.fecha}} | {{turno.hora}} |
                </li>
            }
        </ul>
    }@else {
        <p>No tenes turnos reservados!</p>
    }
}@else {
    <p>Error cargando los turnos!</p>
}